[submodule "ak-lua-bibliothek-fuer-eep"]
	path = ak-lua-bibliothek-fuer-eep
	url = https://github.com/Andreas-Kreuz/ak-lua-bibliothek-fuer-eep.git
[submodule "ak-eep-web"]
	path = ak-eep-web
	url = https://github.com/Andreas-Kreuz/ak-eep-web.git
[submodule "ak-eep-web-server"]
	path = ak-eep-web-server
	url = https://github.com/Andreas-Kreuz/ak-eep-web-server.git
